*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.HomeContent {
    filter:(2px);
    height: 100%;
    width: 100%;
    background: rgba(227, 233, 231, 0.267);
    border-radius: 12px;
    box-shadow: 5px 5px 50px 50px rgba(227, 233, 231, 0.267);
}



